.posts-container {
    padding: 0 0px;
}

.post-padding {
    padding-top: 58px;
}

.priority-date {
    width: 100%;
    display: flex;
    justify-content: end;
}

.date {
    display: flex;
    justify-content: end;
    font-weight: normal;
    width: 100%;
}
.title {
    font-weight: bold;
}
.priority-wrapper{
    display: flex;
    width: 100%;
}
.priority {
    color: blue;
    display: flex;
    
}

.list {
    height: 100%;
    padding: 0;
    margin-top: 2px;
    position: relative;
    .posts {
        .post-frame {
            .post-body { 
                .svg-inline--fa {
                    color: $post-icon-color;
                }
                .post-edition {
                    width: 100%;
                    display: flex;
                    justify-content: end;
                    padding: 2px;
                    .svg-inline--fa {
                        padding: 7px;
                        color: $button-color;
                    }
                }
            }
        }
    }
}

.red {
    color:red;
}
  


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: $post-border;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $post-icon-color;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $post-border;
  }